body {
  background-color: rgb(216,216,216);
  margin: 0px;
  display: block;
}
div {
  margin: auto;
}
.top {
  height: 20vh;
  background-color: rgb(68,68,68);
}

.middle {
  height: 70vh;
  width: 80%;
  background-color: rgb(234,234,234);
}

.bottom {
  height: 10vh;
  width:80%;
  background-color: rgb(34,34,34);
}
